%footer.marketing-footer
	.container
		.row
			.col-md-4.col-lg-4.col-xl-5
				%img.mb-3{:alt => "", :height => "30", :src => "/images/logo.svg", :width => "125"}
				%h6.light-text-color.mb-4
					©2020 TruHome Value. All Rights Reserved
			.col-md-8.col-lg-8.col-xl-7
				.row
					.col-md-3
						%p.body-small.bold-font.mb-2
							Sitemap
						%ul.list-unstyled
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"/"}
										Home
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"/#faq"}
										FAQ
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"/market/about"}
										About
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"/market/for-buying-agents"}
										For buying agents
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"#"}
										For selling agents
					.col-md-3
						%p.body-small.bold-font.mb-2
							Legal
						%ul.list-unstyled
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"#"}
										Terms
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"#"}
										Privacy
					.col-md-3
						%p.body-small.bold-font.mb-2
							Social
						%ul.list-unstyled
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"#"}
										Facebook
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"#"}
										LinkedIn
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"#"}
										Twitter
					.col-md-3
						%p.body-small.bold-font.mb-2
							Questions
						%ul.list-unstyled
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"/market/about/#contact"}
										Contact Us
							%li
								%p.body-small.mb-1
									%a.light-text-color{:href=>"#"}
										Support