;;;

"title": "Home",
"layout": "public"

;;;

%img.hidden{:src=>"/images/featured.png", :style=>"display:none;"}

%section.hero-section
	.container
		.row.align-items-center
			
			.col-md-6.order-md-2
				.d-flex.justify-content-center.justify-content-md-end
					.padded
						%img.max-width.mb-3.mb-lg-0{:src=>"/images/marketing/about-hero.png", :width=>"432px"}
			.col-md-6.order-md-1
				%h1.extra-bold-font.mb-4
					Do you trust the real estate buying process?
				%p.body-large.mb-4
					It’s a simple, yet powerful question. That few people have ever answered YES to. 
				%p.light-text-color.mb-4
					We’re seeking to revolutionize the real estate industry by disrupting the real estate buying/selling process. We believe eliminating agents leads to more misrepresentation, deceit, remorse and litigation amongst buyers and sellers, thus exacerbating the real pain point in real estate - mistrust of the blind bid process. 
%section.off-white-bg
	.container
		.row
			.col
				%h3.bold-font.mb-5
					Our team
		.row
			-6.times do
				.col-6.col-lg-3
					%img.full-width.mb-3{:src=>"/images/marketing/team-placeholder.png", :width=>"222px"}
					%p.mb-0.bold-font
						KieAnn Brownell
					%p.light-text-color
						Title or roll

				




%section#contact
	.container
		.row
			.col
				%h4.bold-font.mb-5
					Contact
		.row
			.col-md-8
				%img.full-width.mb-3{:src=>"/images/marketing/contact-placeholder.png"}
			.col-md-4
				.padded
					.mb-4
						%p.body-large.bold-font.mb-2
							Visit
						%p.light-text-color
							123 Place Ln.
							%br
							Denver, CO 98888
					.mb-4
						%p.body-large.bold-font.mb-2
							Call
						%p.light-text-color
							333 444 5555
					.mb-4
						%p.body-large.bold-font.mb-2
							Email
						%p.light-text-color
							%a{:href=>"mailto:hello@truhimevalue.com"}
								hello@truhimevalue.com

			