;;;

"title": "Home",
"layout": "public"

;;;

%img.hidden{:src=>"/images/featured.png", :style=>"display:none;"}

%section.hero-section
	.container
		.row.align-items-center
			
			.col-md-6.order-md-2
				.padded
					%img.full-width.mb-3.mb-lg-0{:src=>"/images/marketing/buying-agents-hero.png"}
			.col-md-6.order-md-1
				%h1.extra-bold-font.mb-4
					For buying agents
				%p.body-large.light-text-color.mb-4
					Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. Nunc vel rhonc.
%section.off-white-bg.no-padding-bottom
	.container
		.row.align-items-center
			
			.col-lg-7
				.d-flex.justify-content-center.justify-content-lg-start
					%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/girl-with-logo.png", :width=>"423px"}
			.col-lg-5
				%h3.bold-font.mb-4
					Headline with another lead for buying agents
				%p.body-large.light-text-color.mb-5
					Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. Nunc vel rhonc.




%section
	.container
		.row
			.col
				%h4.bold-font.mb-4.text-center
					Some additional features and value
		-2.times do
			.row.align-items-center.mt-5
				-3.times do
					.col-lg-4
						.media
							%img.mr-4{:src=>"/images/marketing/icon-check.svg", :width=>"48px"}
							.media-body
								%p.bold-font.mb-2
									Lorem ipsum dolor
								%p.body-small.light-text-color
									Mauris non tempor quam, et lacinia sapien. Mauris.
			