%section
	.container
		.row
			.col-lg-8
				%h5.bold-font
					Profile
				.card.double-margin-top
					.card-body
						%p.bold-font
							Avatar
						.media
							.avatar.avatar-xl.margin-right
								JD
							.media-body
								%a.btn.btn-secondary{:href=>"#", :style=>"margin-top:24px;"}
									Change avatar
						.margin-top
						%form
							.margin-bottom
								%label.bold-font
									Name
								%input.form-control.form-control-lg{:type=>"text", :value=>"John Doe"}
							.margin-bottom
								%label.bold-font
									Email
								%input.form-control.form-control-lg{:type=>"text", :value=>"John@doe.com"}
							.margin-bottom
								%label.bold-font
									Update password
								%input.form-control.form-control-lg{:type=>"text", :placeholder=>"Enter a new password"}
							%button.btn.btn-primary.btn-lg.double-margin-top{:type=>"submit"}
								Save





