.card{
	border-color:$border-color;
}


.preview-card{
	color:$text-color;
	&:hover{
		color:$text-color;
		border-color:$link-color;
	}
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.06);
	border-radius: 13px;
	overflow: hidden;
	.card-body{
		padding:20px;
	}
	.card-img-top{

	}
}