.card{
	border-color:$border-color;
}


.preview-card{
	color:$text-color;
	&:hover{
		color:$text-color;
		box-shadow: $box-shadow-card;
		border-color:shade($border-color,10%);
	}
	background: #FFFFFF;
	border-radius: 13px;
	overflow: hidden;
	transition-duration: .4s;
	.card-body{
		padding:20px;
	}
	.card-img-top{

	}
}