
.map-container{
	width:40%;
	position:relative;
	.map-inner{
		.map{
			position:fixed;
			width:calc(40% - 80px);
			height:calc(100% - 87px);
			background:$light-gray-color;
			iframe.map-component{
				//placeholder remove
				height: 100%;
				position: absolute;
				width: 100%;
				top: 0;
				bottom: 0;
				left:0;
			}
		}
	}
	@include breakpoint(md) {
		display: none;
	}
}

.listings-container{
	width:60%;
	position:relative;
	
	@include breakpoint(md) {
		width: 100%;
	}
	.listings-list-container{
		padding-top:80px;
		@include breakpoint(md) {
			padding-top:0px;
		}
	}
}

.listings-filters{
	position:fixed;
	padding:15px 0px;
	width:calc(60% - 130px);
	z-index: 99;
	background:white;
	@include breakpoint(md) {
		position:initial;
		width:100%;
	}
	.listings-filters-inner{
		
	}
}






.offer-status-indicator{
	display: flex;
	.step{
		width:25%;
		height:6px;
		background: $off-white-darker-color;
		margin-right:8px;
		border-radius:100px;
		&.active{
			background:$success-color;
		}
	}
}


.star-rating{
	cursor: pointer;
	color:$off-white-darker-color;
	.material-icons{
		font-size: 20px;
	}
	.rated{
		color: $link-color
	}
	.rating{
		&:hover{
			color: $link-color;
		}
	}
}

tr.your-offer{
	background:tint($primary-color,95%);
	position:relative;
	box-shadow: inset 2px 0px 0 $primary-color;
	position:relative;
	td:first-of-type{
			&:after{
		content:"Your offer";
		color:$primary-color;
		background: black;
		position: absolute;
		left: 100px;
		top: 16px;
		padding: 4px 4px;
		border-radius: 4px;
    	font-size: 13px;
    	line-height: 1;
    	display: block;

	}
	}

	&:hover{
		background:tint($primary-color,95%)!important;
		td:first-of-type{
			&:after{
				display: none;
			}
		}
	}
}


form.listings-search{


}