;;;

"title": "My offers"

;;;

%section
	.container
		.row
			.col-12
				.d-flex.justify-content-between.align-items-center
					%h5.bold-font.no-margin
						My offers
				.double-margin-top
					%form.table-search.mb-3
						.input-group.simple-prepend
							.input-group-prepend
								.input-group-text
									%span.material-icons
										search
							%input.form-control.form-control-lg{:type=>"text",:placeholder=>"Search"}

					.table-responsive.base-table
						%table.table.table-hover
							%thead
								%tr
									%th.text-nowrap{:scope => "col"} 
										Address
									%th.currently-sorted.sortable.text-nowrap{:scope => "col"} 
										Deadline
										%i.material-icons.sort
											arrow_downward
									%th.text-nowrap{:scope => "col"} 
										My offer
									%th.text-nowrap{:scope => "col"} 
										Highest offer
									
							%tbody
								-20.times do
									%tr
										%td.text-nowrap.bold-font
											%span.table-actions-container
												%span.action-text-container
													%a{:href=>"/browse/show"}
														%img.mr-3{:src=>"../images/icon-offer.svg"}
														%span
															3049 Wells Fargo Dr, Fort Collins, CO 80521
												%span.action-container
													.btn-group
														%button.btn.btn-secondary.btn-sm{:type => "button"} 
															Details
														%button.btn.btn-secondary.btn-sm.dropdown-toggle.dropdown-toggle-split{ "data-toggle" => "dropdown", :type => "button"}
														.dropdown-menu
															%a.dropdown-item{:href => "#"} 
																Action
															%a.dropdown-item{:href => "#"} 
																Another action
														
											
										%td.text-nowrap
											1 day 2 hours 50 min 
										%td.text-nowrap
											$500,000
										%td.text-nowrap
											$500,000