;;;

"title": "Offer detail"

;;;




%section
	.container
		.row.justify-content-center
			.col-12.col-lg-9
				.d-flex.justify-content-between.align-items-center.mb-4
					
					%a.align-middle{:href=>"/browse/show"}
						%span.material-icons.align-middle.text-color
							keyboard_backspace
						%span.text-color
							Back
				.d-flex.justify-content-between.align-items-center
					%h5.bold-font.no-margin
						Offer details
					.actions-container
						.btn-group
							%button.btn.btn-secondary{:type => "button"} 
								Accept offer
							%button.btn.btn-secondary.btn-sm.dropdown-toggle.dropdown-toggle-split{ "data-toggle" => "dropdown", :type => "button"}
							.dropdown-menu
								%a.dropdown-item{:href => "#"} 
									Action
								%a.dropdown-item{:href => "#"} 
									Another action
				.mt-4
					=partial"shared/house_preview"
				.card.mt-4
					.card-body
						.mb-4
							%p.bold-font
								Offer details
							%hr
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Contract
									%dd.col-sm-7
										%a{:href=>"#"}
											%span.material-icons-outlined.align-middle
												description
											%span.align-middle
												Title-of—file.pdf
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Buyer name
									%dd.col-sm-7
										John Doe
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Offer ammount
									%dd.col-sm-7
										$100.000.00
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Appraisal Shortfall
									%dd.col-sm-7
										$100.000.00
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Earnest money
									%dd.col-sm-7
										$100.000.00
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Term limit
									%dd.col-sm-7
										30 days
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Daily rent
									%dd.col-sm-7
										$100.000.00
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										PCDA
									%dd.col-sm-7
										Yes
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Finance type
									%dd.col-sm-7
										Finance type
								%dl.row.mb-1.body-small
									%dt.col-sm-5
										Proof of funds
									%dd.col-sm-7
										%a{:href=>"#"}
											%span.material-icons-outlined.align-middle
												description
											%span.align-middle
												Title-of—file.pdf
						.mb-2
							%p.bold-font
								Dates
							%hr
							%dl.row.mb-1.body-small
								%dt.col-sm-5
									Closing Date
								%dd.col-sm-7
									01/12/2021
							%dl.row.mb-1.body-small
								%dt.col-sm-5
									Possession Date
								%dd.col-sm-7
									01/12/2021
							%dl.row.mb-1.body-small
								%dt.col-sm-5
									Loan Contingency
								%dd.col-sm-7
									01/12/2021
							%dl.row.mb-1.body-small
								%dt.col-sm-5
									Appraisal Contingency
								%dd.col-sm-7
									01/12/2021
							%dl.row.mb-1.body-small
								%dt.col-sm-5
									Inspection Contingency
								%dd.col-sm-7
									01/12/2021
							%dl.row.mb-1.body-small
								%dt.col-sm-5
									Sale Contingency
								%dd.col-sm-7
									01/12/2021
						
