;;;

"layout": "welcome"

;;;

.welcome-container
	.form-container
		.form-header
			%a.close{:href=>"/"}
				%i.material-icons
					close
		.form-content-wrapper
			.form-content
				%img.double-margin-bottom{:src=>"/images/logo.svg",  :width=>"200px"}
				.mb-4
					%p.body-large.bold-font.no-margin-bottom
						Welcome back
					%p.light-text-color
						Tagline for the product here
				%form
					.margin-bottom
						%label
							Email
						%input.form-control.form-control-lg{:type=>"text", :placeholder=>"John@doe.com"}
					.margin-bottom
						%label
							Password
						%input.form-control.form-control-lg{:type=>"text"}
					.margin-bottom
						%p.no-margin-bpttpm
							%a.light-text-color{:href=>"/welcome/forgot-password"}
								Forgot password?
					.double-margin-top
						%a.btn.btn-primary.btn-lg.btn-block{:href=>"/dashboard"}
							Log in
				.double-margin-top
					%p
						No account?
						%a{:href=>"/welcome/sign-up"}
							Sign up
	