;;;

"layout": "welcome"

;;;

.welcome-container
	.form-container
		.form-header
			%a.close{:href=>"/"}
				%i.material-icons
					close
		.form-content-wrapper
			.form-content
				%img.double-margin-bottom.login-logo{:src=>"/images/logo.svg"}
				.mb-4
					%p.body-large.bold-font.no-margin-bottom
						Get started now
					%p.light-text-color
						Tagline for the product here
				%form
					.margin-bottom
						%label
							Name
						%input.form-control{:type=>"text", :placeholder=>"John Doe"}
					.margin-bottom
						%label
							Email
						%input.form-control{:type=>"text", :placeholder=>"john@doe.com"}
					.margin-bottom
						%label
							Password
						%input.form-control{:type=>"text", :placeholder=>"Min 6 chars."}
					%p.body-small.light-text-color
						I agree to the
						%a.light-text-color{:href=>"/welcome/login"}
							%u
								Terms and privacy
					.double-margin-top
						%a.btn.btn-primary.btn-lg.btn-block{:href=>"/dashboard"}
							Create account
				.double-margin-top
					%p
						Have an account?
						%a{:href=>"/welcome/login"}
							Log in
	