<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='Website description' name='description'>
<title>
TruHome Value | Tagline goes here"
</title>
<meta content='TruHome Value | Tagline goes here' property='og:title'>
<meta content='/images/featured.png' property='og:image'>
<!-- /google material icons -->
<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
<link href='https://fonts.googleapis.com/icon?family=Material+Icons+Outlined' rel='stylesheet'>
<link href="../stylesheets/style.css" rel="stylesheet" />
<link href='../images/favicon.ico' rel='shortcut icon'>
<script src="../bower_components/bootstrap/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script><script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script src="../javascripts/scripts.js"></script>

</head>
<body class='components components_index'>
<div id='dashboard-container'>
<div id='main-nav'>
<a class='menu-close menu-toggle-action close-x d-lg-none' href='#'>
<i class='material-icons'>
clear
</i>
</a>
<a class='logo-container full-width d-block' href='/dashboard'>
<img class='margin-auto d-block' src='../images/logo.svg' width='115px'>
</a>
<nav class='navbar nav flex-column margin-bottom'>
<a class='nav-link' href='/dashboard/'>
Dashboard
</a>
<a class='nav-link' href='/browse/'>
Browse listings
</a>
<a class='nav-link' href='/offers/'>
My offers
</a>
<a class='nav-link' href='/listings/'>
My listings
</a>
<a class='nav-link' href='/browse/saved-zero'>
Saved
</a>
</nav>
</div>
<nav class='navbar fixed-top top-header' id='page-nav'>
<div class='container-fluid'>
<div class='nav-group'>
<button class='btn btn-sm btn-flat menu-toggle menu-toggle-action mr-2 d-inline-block d-lg-none' type='button'>
<i class='material-icons'>
menu
</i>
</button>
<a class='d-inline-block d-lg-none' href='/dashboard'>
<img src='../images/logo.svg' width='100px'>
</a>
</div>
<div class='nav-group admin-bar'>
<a class='btn btn-primary' href='/listings/new'>
New listing
</a>
<div class='dropdown d-inline-block'>
<a class='nav-link' data-toggle='dropdown' href='#'>
<div class='avatar avatar-xs quarter-margin-right align-middle d-inline-block'>
JD
</div>
<!-- %p.body-small.bold-font.align-middle.no-margin.text-color.d-md-inline-block.d-none -->
<!-- John Doe -->
<i class='material-icons align-middle'>
expand_more
</i>
</a>
<div class='dropdown-menu dropdown-menu-top dropdown-menu-right'>
<a class='dropdown-item' href='/settings'>
Profile
</a>
<a class='dropdown-item' href='/welcome/login'>
log out
</a>
</div>
</div>
</div>
</div>
</nav>

<div class='main'>
<section>
<div class='container'>
<div class='row'>
<div class='col'>
<h1 class='bold-font'>
Heading 1
</h1>
<h2>
Heading 2
</h2>
<h3>
Heading 3
</h3>
<h4>
Heading 4
</h4>
<h5>
Heading 5
</h5>
<h6>
Heading 6
</h6>
<p class='body-large'>
Dolorem vitae occaecati odit beatae repudiandae animi earum tempore amet maiores alias. reiciendis necessitatibus ea neque adipisci. at vitae sequi reprehenderit et est pariatur nobis et eveniet molestiae ullam officiis. est rem laudantium accusantium minus perferendis doloremque. vitae voluptate dolore et ab facilis molestiae autem dolor aut similique est

Soluta eos asperiores dolores aliquid quo voluptatem ipsa qui nobis temporibus at adipisci aut. ipsam molestiae eaque voluptatem amet exercitationem commodi repellat voluptas. exercitationem et similique non molestiae occaecati accusantium laborum autem possimus ea non

Atque quia sed laudantium. cumque minus dolorem in. eum ratione vel incidunt quo sequi reprehenderit debitis alias in ut. odit odio optio repellat dolor sunt hic amet repellat. dolores aliquid qui quo exercitationem ut necessitatibus qui laboriosam eos voluptas. ut molestiae sequi nobis officiis commodi est quia in amet
</p>
<p>
Eum deserunt animi eveniet illo quisquam atque commodi sint et laborum blanditiis. sit quaerat soluta eveniet aut explicabo quo voluptatem ea doloremque deserunt saepe deleniti. minus eos quibusdam et voluptatem error vel est quibusdam atque possimus enim. totam iusto voluptatum repellat in blanditiis dolores sapiente. molestias quia reiciendis placeat consectetur sed iure debitis possimus ratione omnis rem. ad dolor esse ea sint quis adipisci aliquam expedita quia qui est sunt molestias molestiae. accusantium iusto beatae occaecati necessitatibus quidem deserunt aut dolorum qui

Et officia laboriosam aut est autem blanditiis eos. quia sed assumenda ut inventore enim et numquam. consectetur mollitia tenetur veniam enim debitis perspiciatis

Ut facere deleniti modi velit qui quibusdam cum quia distinctio repellat autem. voluptas non distinctio ab iure at similique aut. explicabo et qui aut autem incidunt accusamus. ducimus suscipit est fugiat et distinctio dolores in incidunt eum qui delectus qui. occaecati et occaecati recusandae ut sed error molestiae est commodi exercitationem. consequatur vitae necessitatibus natus quasi ut quia inventore quo occaecati provident corrupti ratione. nam ut necessitatibus aut et quasi et saepe
</p>
<p class='body-small'>
At nihil dignissimos aut et voluptate voluptatibus quos vel impedit. sed quam voluptatem ut voluptate. qui vel aut similique saepe. sed aut deleniti non enim fuga vitae debitis eius itaque odit. temporibus nisi sit blanditiis similique et consequatur nisi velit. nesciunt aut cumque debitis temporibus molestias magnam nostrum iste. aliquid distinctio modi explicabo et

Cum totam beatae velit sit eum quidem totam officiis repellendus omnis est. ut ut at in dolorem qui quia debitis illo cum quaerat. quidem laboriosam ducimus enim vel cupiditate non culpa enim in. sunt consequatur iste doloremque optio quo voluptatem distinctio assumenda et ratione consequatur nemo a. animi libero eaque dolorem doloremque quisquam placeat velit repellendus voluptate repellendus

Totam natus modi autem ullam doloribus voluptates nam. voluptas possimus dolores porro quidem. ipsam quibusdam quas quia qui tempore ut magnam veniam nihil excepturi ab soluta eaque incidunt. autem dolor qui ut adipisci quibusdam. maiores vel quasi quas quas omnis sit. deleniti accusamus aut aut quia qui. nisi qui ipsa rem qui atque dolores nesciunt blanditiis et repellendus consequatur doloribus voluptatibus sed
</p>
</div>
</div>
<div class='row'>
<div class='col'>
<h2>
Buttons
</h2>
</div>
</div>
<div class='row'>
<div class='col'>
<a class='btn btn-primary' href='#'>
Primary button
</a>
<a class='btn btn-secondary' href='#'>
Secondary button
</a>
<a class='btn btn-icon btn-secondary' href='#'>
<i class='material-icons'>
settings
</i>
</a>
<a class='btn btn-terciary' href='#'>
Terciary button
</a>
<a class='btn btn-flat' href='#'>
Flat button
</a>
<span class='d-block' style='padding:10px; background:black;'>
<a class='btn btn-wire' href='#'>
Wire button
</a>
</span>
<a class='btn btn-link' href='#'>
Link button
</a>
</div>
</div>
<div class='row'>
<div class='col'>
<h2>
Dropdowns
</h2>
</div>
</div>
<div class='row'>
<div class='col'>
<div class='dropdown'>
<button class='btn btn-secondary text-left' data-toggle='dropdown' type='button'>
<i class='material-icons'>
check_box_outline_blank
</i>
To Do
<i class='material-icons'>
expand_more
</i>
</button>
<div class='dropdown-menu'>
<button class='dropdown-item' type='button'>
<i class='material-icons-outlined icon-left'>
check_box_outline_blank
</i>
To Do
</button>
<button class='dropdown-item active' type='button'>
<i class='material-icons-outlined icon-left'>
smart_display
</i>
In Progress
</button>
<button class='dropdown-item' type='button'>
<i class='material-icons icon-left'>
check_box
</i>
Completed
</button>
<button class='dropdown-item' type='button'>
<i class='material-icons-outlined icon-left'>
warning
</i>
Blocked
</button>
<button class='dropdown-item' type='button'>
<i class='material-icons icon-left'>
disabled_by_default
</i>
Cancelled
</button>
</div>
</div>
</div>
</div>
</div>
</section>

</div>

</div>
</body>
</html>
