<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='Website description' name='description'>
<title>
TruHome Value | Tagline goes here"
</title>
<meta content='TruHome Value | Tagline goes here' property='og:title'>
<meta content='/images/featured.png' property='og:image'>
<!-- /google material icons -->
<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
<link href='https://fonts.googleapis.com/icon?family=Material+Icons+Outlined' rel='stylesheet'>
<link href="../stylesheets/style.css" rel="stylesheet" />
<link href='../images/favicon.ico' rel='shortcut icon'>
<script src="../bower_components/bootstrap/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script><script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script src="../javascripts/scripts.js"></script>

</head>
<body class='components components_index'>
<div id='dashboard-container'>
<div id='main-nav'>
<a class='menu-close menu-toggle-action close-x d-lg-none' href='#'>
<i class='material-icons'>
clear
</i>
</a>
<a class='logo-container full-width d-block' href='/dashboard'>
<img class='margin-auto d-block' src='../images/logo.svg' width='115px'>
</a>
<nav class='navbar nav flex-column margin-bottom'>
<a class='nav-link' href='/dashboard/'>
Dashboard
</a>
<a class='nav-link' href='/browse/'>
Browse listings
</a>
<a class='nav-link' href='/offers/'>
My offers
</a>
<a class='nav-link' href='/listings/'>
My listings
</a>
<a class='nav-link' href='/browse/saved-zero'>
Saved
</a>
</nav>
</div>
<nav class='navbar fixed-top top-header' id='page-nav'>
<div class='container-fluid'>
<div class='nav-group'>
<button class='btn btn-sm btn-flat menu-toggle menu-toggle-action mr-2 d-inline-block d-lg-none' type='button'>
<i class='material-icons'>
menu
</i>
</button>
<a class='d-inline-block d-lg-none' href='/dashboard'>
<img src='../images/logo.svg' width='100px'>
</a>
</div>
<div class='nav-group admin-bar'>
<a class='btn btn-primary' href='/listings/new'>
New listing
</a>
<div class='dropdown d-inline-block'>
<a class='nav-link' data-toggle='dropdown' href='#'>
<div class='avatar avatar-xs quarter-margin-right align-middle d-inline-block'>
JD
</div>
<!-- %p.body-small.bold-font.align-middle.no-margin.text-color.d-md-inline-block.d-none -->
<!-- John Doe -->
<i class='material-icons align-middle'>
expand_more
</i>
</a>
<div class='dropdown-menu dropdown-menu-top dropdown-menu-right'>
<a class='dropdown-item' href='/settings'>
Profile
</a>
<a class='dropdown-item' href='/welcome/login'>
log out
</a>
</div>
</div>
</div>
</div>
</nav>

<div class='main'>
<section>
<div class='container'>
<div class='row'>
<div class='col'>
<h1 class='bold-font'>
Heading 1
</h1>
<h2>
Heading 2
</h2>
<h3>
Heading 3
</h3>
<h4>
Heading 4
</h4>
<h5>
Heading 5
</h5>
<h6>
Heading 6
</h6>
<p class='body-large'>
Aperiam nihil hic libero sint voluptas dolorem eveniet quis ut eos dolores quis et vel. quaerat ex ut est. laborum sed dolorum sint nihil modi sed ut nesciunt. numquam illo eum eius eligendi veniam accusantium fugiat tempore quo aut architecto. molestiae commodi non nam

Eos ab dolorem mollitia quisquam non cumque ut ab molestias cumque rem minima quo ut. est vel sapiente dolorem optio enim. cum qui distinctio ab tempore voluptatem amet aut vitae eligendi quo sint. quos adipisci ipsa exercitationem nostrum. vel dolorem veniam et quo sit ut dolores sapiente pariatur illum voluptatem. praesentium id consequatur eos culpa nemo dolore eaque pariatur

Tenetur est pariatur aut dolore cupiditate nam officiis laborum omnis similique qui similique provident labore. illum neque iste in non sint. excepturi nemo deleniti molestiae. architecto est sunt atque facere. quaerat aliquam dignissimos consequatur quia qui quia consequatur iure aut autem. iste est fugit ab nihil dolor corporis officia error molestias nisi quia. ut culpa maxime rerum dolorem blanditiis consequatur voluptatem commodi officiis aliquam eos nihil et
</p>
<p>
Facere repellendus et qui sunt non sapiente expedita rerum dolor recusandae qui cum maxime. qui quia sed unde. voluptatem corrupti commodi quas ab aut commodi maxime nulla esse quaerat quia explicabo excepturi dolores. aut eos voluptatem aliquam. saepe atque necessitatibus consequuntur nihil rerum. asperiores aperiam quis ea quis. sit corporis provident libero est

Maiores qui architecto corrupti eveniet exercitationem assumenda veritatis. quidem ullam ab hic ad modi. reprehenderit quo aspernatur est fuga quibusdam consequatur rem blanditiis sunt doloremque laboriosam

Quasi beatae dignissimos ut vero doloremque dolores rerum velit quidem quam cupiditate consequatur voluptatem. consequatur voluptatem quae et alias nesciunt doloribus recusandae rerum. sunt quos sed rerum aut. iusto itaque dolor laborum facilis harum ex cumque beatae doloremque ea asperiores ducimus. porro ut cumque dolores eum accusantium harum excepturi illo suscipit facilis soluta sequi aspernatur. enim aliquam ut sit in sit atque magni voluptatum et veritatis cupiditate ipsa qui. eum voluptates a in animi quasi reiciendis quisquam quod incidunt sunt
</p>
<p class='body-small'>
Quibusdam porro deleniti molestias quis id accusamus in est. ullam laborum qui nobis. a repudiandae optio quis doloremque consequatur nobis fuga sunt ut et et dolor aliquid ea

Sint eaque unde quibusdam voluptate laudantium deserunt facere vel eos dolor voluptatibus ut minima voluptatem. possimus distinctio nihil omnis nisi facere. vel consequatur qui quo molestiae. mollitia sed non minus temporibus laboriosam vel reprehenderit in doloribus aut cumque quae. ullam consectetur dolore sed tempore delectus incidunt cum odit quam voluptatibus. ullam magni maiores cum et dolores velit tenetur totam quasi odio voluptatem et voluptatem. et natus pariatur sapiente omnis aut esse laboriosam reprehenderit ut

Voluptatem sunt tempora commodi facere soluta corporis porro est. error atque dolor velit corporis dolores natus quas similique. et iusto voluptatem architecto reprehenderit laborum eos. omnis deserunt libero quisquam. non voluptatem et est quis enim. esse voluptatibus nostrum consectetur natus incidunt dolores repudiandae similique hic cupiditate qui rerum aperiam
</p>
</div>
</div>
<div class='row'>
<div class='col'>
<h2>
Buttons
</h2>
</div>
</div>
<div class='row'>
<div class='col'>
<a class='btn btn-primary' href='#'>
Primary button
</a>
<a class='btn btn-secondary' href='#'>
Secondary button
</a>
<a class='btn btn-icon btn-secondary' href='#'>
<i class='material-icons'>
settings
</i>
</a>
<a class='btn btn-terciary' href='#'>
Terciary button
</a>
<a class='btn btn-flat' href='#'>
Flat button
</a>
<span class='d-block' style='padding:10px; background:black;'>
<a class='btn btn-wire' href='#'>
Wire button
</a>
</span>
<a class='btn btn-link' href='#'>
Link button
</a>
</div>
</div>
<div class='row'>
<div class='col'>
<h2>
Dropdowns
</h2>
</div>
</div>
<div class='row'>
<div class='col'>
<div class='dropdown'>
<button class='btn btn-secondary text-left' data-toggle='dropdown' type='button'>
<i class='material-icons'>
check_box_outline_blank
</i>
To Do
<i class='material-icons'>
expand_more
</i>
</button>
<div class='dropdown-menu'>
<button class='dropdown-item' type='button'>
<i class='material-icons-outlined icon-left'>
check_box_outline_blank
</i>
To Do
</button>
<button class='dropdown-item active' type='button'>
<i class='material-icons-outlined icon-left'>
smart_display
</i>
In Progress
</button>
<button class='dropdown-item' type='button'>
<i class='material-icons icon-left'>
check_box
</i>
Completed
</button>
<button class='dropdown-item' type='button'>
<i class='material-icons-outlined icon-left'>
warning
</i>
Blocked
</button>
<button class='dropdown-item' type='button'>
<i class='material-icons icon-left'>
disabled_by_default
</i>
Cancelled
</button>
</div>
</div>
</div>
</div>
</div>
</section>

</div>

</div>
</body>
</html>
