;;;

"title": "All projects"

;;;




%section
	.container.product-card-container
		.row
			.col-12
				%h1
					Title
			
											



#editModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%h2.padding-left
					Edit this project
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×

			.modal-body
				.padded.no-padding-top.no-padding-bottom
					.margin-bottom
						%label
							Title
						%form
							.margin-bottom
								%input.form-control.form-control-lg{:type=>"text", :value=>"Project title"}
					%label
						Thumbnail image
					.media
						%img.half-margin-right{:src=>"/images/tmp/ceb-shot.png", :width=>"200px"}
						.media-body
							%a.btn.btn-secondary{:href=>"#", :style=>"margin-top:24px;"}
								Change image

			.modal-footer.no-border-top
				%button.btn.btn-link{:tyle=>"button", "data-dismiss" => "modal"}
					Cancel
				%button.btn.btn-primary{:tyle=>"button", "data-dismiss" => "modal"}
					Save




#archiveModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%h2.padding-left
					Confirm archive project
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×

			.modal-body
				.padded.no-padding-top.no-padding-bottom
					%p
						Are you sure you want to continue? No one will be able to view notes in this project.
			.modal-footer.no-border-top
				%button.btn.btn-link{:tyle=>"button", "data-dismiss" => "modal"}
					Cancel, don't archive
				%button.btn.btn-primary{:tyle=>"button", "data-dismiss" => "modal"}
					Yes, archive

					
