%a.card.preview-card.margin-bottom{:href=>"#"}
	%img.card-img-top{:alt => "Card image cap", :src => "../images/tmp/house-thumb.png"}
		.card-body
			.d-flex.justify-content-between.align-items-center
				%h5.card-title.bold-font 
					$500
				%h6.card-title.bold-font 
					3 offers
			%p.card-text.body-small.quarter-margin-bottom
				4 bds4 ba3,180 sqft- House for sale
			%p.card-text.body-small
				3049 Wells Fargo Dr, Fort Collins, CO 80521