;;;

"title": "Home",
"layout": "public"

;;;

%img.hidden{:src=>"/images/featured.png", :style=>"display:none;"}

%section#main-hero
	.double-padding-bottom
		.container
			.row.justify-content-center
				.col-12
					%h1
						Homepage

