;;;

"title": "Home",
"layout": "public"

;;;

%img.hidden{:src=>"/images/featured.png", :style=>"display:none;"}

%section.hero-section
	.container
		.row.align-items-center
			
			.col-md-6.order-md-2
				.padded
					%img.full-width.mb-3.mb-lg-0{:src=>"/images/marketing/home-hero.png"}
			.col-md-6.order-md-1
				%h1.extra-bold-font.mb-4
					Super impactful headline here
				%p.body-large.light-text-color.mb-4
					Trustworthy home buying through offer transparency.
				%a.btn-primary.btn{:href=>"/welcome/sign-up"}
					Get started
%section.off-white-bg.no-padding-bottom
	.container
		.row.align-items-center
			
			.col-lg-7
				.d-flex.justify-content-center.justify-content-lg-start
					%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/agent-with-offers.png", :width=>"483px"}
			.col-lg-5
				%h3.bold-font.mb-4
					See every offer, know where you stand
				%p.body-large.light-text-color.mb-5
					Our Offer Transparency Platform shows details of each offer. Knowing where you stand amongst the competition allows informed, custom-tailored offers to meet what’s most important to the seller, and *most comfortable for the buyer. 
%section.pb-0
	.container
		.row.align-items-center
			.col
				.d-flex.justify-content-center.mt-5
					.d-inline.mr-5.text-center.text-xl-left
						%img.mr-2.mb-xl-0.mb-2{:src=>"/images/marketing/check-lg.svg", :width=>"56px"}
						%p.body-large.bold-font.d-xl-inline.d-lg-block
							Never Bid Against Yourself	
					.d-inline.mr-5.text-center.text-xl-left
						%img.mr-2.mb-xl-0.mb-2{:src=>"/images/marketing/check-lg.svg", :width=>"56px"}
						%p.body-large.bold-font.d-xl-inline.d-lg-block
							Built By Agents
					.d-inline.text-center.text-xl-left
						%img.mr-2.mb-xl-0.mb-2{:src=>"/images/marketing/check-lg.svg", :width=>"56px"}
						%p.body-large.bold-font.d-xl-inline.d-lg-block
							Eliminates Blind Bidding 

%section
	.container
		.row.align-items-center
			
			.col-lg-6.order-lg-2
				.d-flex.justify-content-center.justify-content-lg-end
					.padded
						%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/do-you-trust.png", :width=>"492px"}
			.col-lg-6.order-lg-1
				%h3.bold-font.mb-4
					Do you trust the blind bid process?
				%ul.list-unstyled
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								Biggest financial decision most will ever make
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								We wouldn’t blindly buy a car
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								“Give us your best offer by 4pm,” should be flushed
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								Lack of clarity and trust with high pressure


%section.off-white-bg
	.container
		.row
			.col
				%h4.bold-font.mb-4.text-center
					A platform buyers, sellers and agents trust
		.row.align-items-center.mt-5
			.col-lg-4
				.media
					%img.mr-4{:src=>"/images/marketing/icon-agents.svg", :width=>"48px"}
					.media-body
						%p.bold-font.mb-2
							For Licensed Agents
						%p.body-small.light-text-color
							Builds confidence and trust with buyers and sellers
			.col-lg-4
				.media
					%img.mr-4{:src=>"/images/marketing/icon-check.svg", :width=>"48px"}
					.media-body
						%p.bold-font.mb-2
							Verified Offers Only
						%p.body-small.light-text-color
							All offers are vetted and verified prior to posting
			.col-lg-4
				.media
					%img.mr-4{:src=>"/images/marketing/icon-notifications.svg", :width=>"48px"}
					.media-body
						%p.bold-font.mb-2
							Offer Notifications
						%p.body-small.light-text-color
							Instant notifications with every new and updated offer


%section
	.container
		.row.align-items-center
			
			.col-lg-6.order-lg-2
				.d-flex.justify-content-center.justify-content-lg-end
					.padded
						%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/img-ui-1.png", :width=>"492px"}
			.col-lg-6.order-lg-1
				%h3.bold-font.mb-4
					A Successful Real Estate Transaction Ends With:
				%ul.list-unstyled
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								The Seller’s priorities met
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								The winning Buyer has NO remorse
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								All non-winning Buyers knew where they stood
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								The Selling Agent communicated equally with all
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								The Buying Agents had the info to strategize next moves
					%li.media
						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
						.media-body
							%p.body-large.light-text-color
								Everyone had a equal playing field and positive experience


%section.inverse-section.house-bg-1
	.container
		.row.align-items-center
			
			.col-lg-7
				.d-flex.justify-content-center.justify-content-lg-start
					%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/change.svg", :width=>"574px"}
			.col-lg-5
				%p.body-large
					At TruHome Value, we believe the market itself reveals a home’s true value and agents who use blind bid tactics are relying on a buyer’s stress, fear, and uncertainty to extract a maximum price for the seller. This is no way to conduct business - ever.
				%p.body-large
					Sellers and buyers agents recognize an active transparent bidding process between motivated buyers sets the offer both the seller and buyer are confident accepting. Big reveal, it’s not always the highest price.


%section.off-white-bg#faq
	.container
		.row
			.col-lg-4
				%h3.bold-font.mb-5
					Frequently asked questions
			.col-lg-8
				#accordionExample.accordion.accordion-default
					.card
						#headingOne.card-header.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
							%h5
								Im a question someone want’s to know?
						#collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample"}
							.card-body.pt-0
								%p.light-text-color.mb-0
									At TruHome Value we’re seeking to revolutionize the real estate industry by disrupting the real estate buying/selling process. Companies like Zillow, Redfin.
					.card
						#headingTwo.card-header.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
							%h5
								Im a question someone want’s to know?
						#collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionExample"}
							.card-body.pt-0
								%p.light-text-color.mb-0
									At TruHome Value we’re seeking to revolutionize the real estate industry by disrupting the real estate buying/selling process. Companies like Zillow, Redfin.
					.card
						#headingThree.card-header.collapsed{"aria-controls" => "collapsethree", "aria-expanded" => "false", "data-target" => "#collapsethree", "data-toggle" => "collapse"}
							%h5
								Im a question someone want’s to know?
						#collapsethree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
							.card-body.pt-0
								%p.light-text-color.mb-0
									At TruHome Value we’re seeking to revolutionize the real estate industry by disrupting the real estate buying/selling process. Companies like Zillow, Redfin.

					